<!--エラー文-->
<!--<p>Book was successfully destroyed.</p>-->

<h1>ここは一覧画面</h1>

<% @books.each do |book| %>

  <p>タイトル</p>
 <span>
 <%= link_to book.title,show_path(book.id) %>
 </span>

 <p>Body</p>
 <span>
 <%= link_to book.body, show_path(book.id)%>
 </span>

<% end %>
<%= link_to "編集", edit_book_path(@book.id) %>
<%= link_to "削除", destroy_book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>