<p>Book was successfully created.</p>
<p>Book was successfully updated.</p>


<p>Title</p>
<p><%= @book.title %></p>

<p>Body</p>
<p><%= @book.body %></p>

<!--%= link_to edit, "/books/edit" %-->
<a herf="/books/edit">edit</a>



<p>edit|back</p>


