<p>Book was successfully created.</p>
<p>Book was successfully updated.</p>


<p>Title</p>
<p><%= @book.title %></p>

<p>Body</p>
<p><%= @book.body %></p>

<!--%= link_to edit, "/books/edit" %-->

<a herf="/books/edit">edit</a>
<!--%= link_to "edit", edit_book_path(@book.id) %>-->
<!--%= link_to "show", show_path(@book.id) %>-->
 <%= link_to "destroy", destroy_book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>-->


<p>edit|back</p>


